<%= form_for(@transaction, html: {class: "form-horizontal", role:"form"}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field show_select_payer form-group">
    <%= f.label :name, "Nombre del adeudo:", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :description, "Descripción:", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="field show_select_payer form-group">
    <%= label_tag :payer, "Email del deudor:", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= text_field_tag :payer, nil, placeholder: "Escriba 3 letras para ver opciones", class: "form-control" %>
      <%= f.text_field :payer_id, style: "display:none" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :amount, "Monto ($): ", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :interest, "Interés (%): ", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :interest, class: "form-control" %>
      <em id="interest_too_high" style="display:none;color:red">Interés superior al límite permitido legalmente</em>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :period, "Plazo de amortización: ", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :period, placeholder: "En meses", class: "form-control" %>
    </div>
  </div>


<!--
  <div class="field form-group">
    <%#= f.label :image, "Imagen", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%#= f.file_field :image, class: "form-control" %>
    </div>
  </div>
 -->

  <div class="field form-group">
    <%= f.label :date, "Fecha de inicio:", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :date, class: "form-control" %><br>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Crear Adeudo", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $( document ).ready(function() {
    var availableTags = <%= raw @users_autocomplete %>

    $("#payer").autocomplete({
      source: availableTags,
      minLength: 3,
      select: function( event, ui ) {
        var arr = $(this).val().split(", ID:");
        console.log(arr);
        console.log(arr[1]);
        $("#transaction_payer_id").val(arr[1]);
      }
    });

    $("#transaction_date").datepicker({
      dateFormat: "dd/mm/yy"
    });

    $("#transaction_interest").change(function(){
        if($(this).val() > 4){
          $(this).css("background-color", "red");
          $("#interest_too_high").show();
        }else{
          $(this).css("background-color", "white");
          $("#interest_too_high").hide();
        }
    });
  });
</script>
