<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Fecha" %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount, "Monto" %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= check_box_tag "transaction[receive_money]" %>
    <%= label_tag "transaction[receive_money]", "¿Estoy recibiendo dinero?" %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= label_tag "transaction[interested]", "Persona interesada" %><br>
    <%= select_tag "transaction[interested]", options_from_collection_for_select(@users, "id", "email"), include_blank: "Otra persona" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
