  <div class="field show_select_payer form-group">
    <%= label_tag "", "", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= image_tag("avatar.jpg") %><br><br><br><br><br>
      <span class="form-control">Reputación: 89%</span>
    </div>
  </div>

  <div class="field form-group">
    <%= label_tag "", "", class: "control-label col-sm-5" %>
    <div class="col-sm-4">
      <%= label_tag "", current_user.email, class: "form-control" %><br>
    </div>
  </div>
<br>
  <div class="field form-group">
    <%= label_tag "", "", class: "control-label col-sm-5" %>
    <div class="col-sm-4">
      <%= label_tag "", "Activo desde abril de 2015", class: "form-control" %><br>
    </div>
  </div>
<br>
  <div class="field form-group">
    <%= label_tag "", "", class: "control-label col-sm-5" %>
    <div class="col-sm-4">
      <%= label_tag "", "Capacidad de pago promedio: $568.00", class: "form-control" %><br>
    </div>
  </div>
<br>
  <div class="field form-group">
    <%= label_tag "", "", class: "control-label col-sm-5" %>
    <div class="col-sm-4">
      <%= label_tag "", "15 a 30 adeudos completados", class: "form-control" %><br>
    </div>
  </div>
<br>
  <div class="field form-group">
    <%= label_tag "", "", class: "control-label col-sm-5" %>
    <div class="col-sm-4">
      <%= label_tag "", "90% de los adeudo pagados a tiempo", class: "form-control" %><br>
    </div>
  </div>

  <div class="field form-group">
    <%= label_tag "", "", class: "control-label col-sm-5" %>
    <div class="col-sm-4">
      <%= label_tag "", "Rango común de adeudos $500.00 - $2000.00", class: "form-control" %><br>
    </div>
  </div>
