<h1>Recibos</h1>
<%= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary", style: "color:white"%>
<div class="col-sm-2">
</div>
<div class="col-sm-6">
  <div class="list-group">
    <% @transactions.each do |transaction| %>
      <a href="<%= edit_transaction_path(transaction[:object]) %>" class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= transaction[:receive_money] ? 
            '<i class="fa fa-arrow-up text-success" aria-hidden="true"></i>'.html_safe : 
            '<i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>'.html_safe %> 
          <%= number_to_currency(transaction[:object].amount) %>
          <span style="color:gray"><%= transaction[:interested].email if transaction[:interested] %></span>
        </h4>
        <p class="list-group-item-text"><%= transaction[:object].description %></p>
        <em style="color:gray"><%= transaction[:object].date %></em>
      </a>
    <% end %>
  </div>
</div>

