<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th></th>
      <th>Interested Person</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction[:object].date %></td>
        <td><%= number_to_currency(transaction[:object].amount) %></td>
        <td><%= transaction[:receive_money] ? " recibidos de " : " pagados a " %></td>
        <td><%= transaction[:interested].email if transaction[:interested] %></td>
        <td><%= transaction[:object].description %></td>
        <td><%= transaction[:object].image %></td>
        <td><%= link_to 'Show', transaction[:object] %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction[:object]) %></td>
        <td><%= link_to 'Destroy', transaction[:object], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
